<div class="wrapper">
  <div class="container">
    <!--    header   -->
    <div class=" center-item logo">
      <img src="../assets/icons/Image1@2x.png">
    </div>
    <div class="center-item">
      <p class="header">Global money app</p>
    </div>
    <!--    carousels   -->
    <!--    top carousel   -->
    <mdb-carousel class="carousel slide carousel-fade "
                  [interval]="'0'"
                  [animation]="'fade'"
                  [activeSlideIndex]="currencyTop"
                  (activeSlideChange)="onActiveSlideChange($event, 'top')">
      <mdb-carousel-item class="carousel-container" *ngFor="let pocket of pockets">
        <div class="view w-100 background carousel-height">
          <div class="sides-padding">
            <div class="wallet">
              <h1>{{pocket.code}}</h1>
              <h3>wallet</h3>
            </div>
            <div class="wallet-info">
              <span>You have {{pocket.symbol}}{{pocket.amount}}</span>
              <span id="rateTop" *ngIf="rates.length > 0">{{pocket.symbol}}1 = {{bottomSymbol}}{{topRate}}</span>
            </div>
          </div>
        </div>
      </mdb-carousel-item>
      <label *ngIf="inputTop" class="top-input i-label">–</label>
      <input class="top-input" #tInput type="text" [value]="inputTop" (input)="inputChanged($event)">
      <div class="divider"></div>
    </mdb-carousel>
    <!--    bottom carousel   -->
    <mdb-carousel class="carousel slide carousel-fade"
                  [activeSlideIndex]="currencyBottom"
                  [interval]="'0'"
                  [animation]="'fade'"
                  (activeSlideChange)="onActiveSlideChange($event, 'bottom')">
      <div class="triangle"></div>
      <mdb-carousel-item *ngFor="let pocket of pockets">
        <div class="view w-100 background carousel-height">
          <div class="sides-padding">
            <div class="wallet">
              <h1>{{pocket.code}}</h1>
              <h3>wallet</h3>
            </div>
            <div class="wallet-info">
              <span>You have {{pocket.symbol}}{{pocket.amount}}</span>
              <span id="rateBott" *ngIf="rates.length > 0">{{pocket.symbol}}1 = {{topSymbol}}{{bottomRate}}</span>
            </div>
          </div>
        </div>
      </mdb-carousel-item>
      <label *ngIf="inputTop" class="top-input i-label">+</label>
      <input id="bInput" class="top-input" [(ngModel)]="inputBottom" disabled>
    </mdb-carousel>
    <!--    error message   -->
    <div *ngIf="showError" id="error"><p>Sorry, you have not enough money for this transaction.</p></div>
    <!--    buttons   -->
    <div class="center-btns center-item btns">
      <div>
        <button id="exchangeBtn" (click)="transferMoney()" [ngClass]="{'btn-disabled': !inputTop}">Exchange</button>
      </div>
      <div>
        <button id="clearBtn" (click)="clearInput()">Clear</button>
      </div>
    </div>
  </div>
</div>
